[ req ]
default_bits        = 2048
prompt              = no
default_keyfile     = stock.localhost-key.pem
distinguished_name  = req_distinguished_name
x509_extensions     = v3_req

[ req_distinguished_name ]
countryName         = US
stateOrProvinceName = California
localityName        = San Francisco
organizationName    = Example
commonName          = stock.localhost

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = stock.localhost
DNS.2 = localhost
